<h1>List of Theories</h1>

<table class="table">
  <thead>
    <tr><th colspan="5"></th></tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Description</strong></td>
      <td><strong>Issues</strong></td>
      <td><strong>Success</strong></td>
      <td><strong>Prove Date</strong></td>
    </tr>

    <% @theories.each do |theory| %>
      <tr>
        <td><%= theory.name %></td>
        <td><%= theory.description %></td>
        <td><%= theory.issues %></td>
        <td><%= theory.success %></td>
        <td><%= theory.prove_date %></td>
        <% if current_user.admin %>
          <td><%= link_to "Show #{theory.name}", theory_path(theory) %></td>
        <% else %>
          <td><%= link_to "Test #{theory.name}", theory_path(theory) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table><br>

<% if @user %>
  <p><%= link_to "Back to Profile", user_path(@user), {class: "btn btn-primary"} %></p>
<% else %>
  <p><%= link_to "New Theory", new_theory_path %></p>
<% end %>