<p id="notice"><%= notice %></p>

<div class="center">
  <div class="info">
    <p><strong>Name: </strong><%= @theory.name %></p>
    <p><strong>Description: </strong><%= @theory.description %></p>
    <p><strong>Issues: </strong><%= @theory.issues %></p>
    <p><strong>Success: </strong><%= @theory.success %></p>
    <p><strong>Prove Date: </strong><%= @theory.prove_date %></p>

    <% if current_user.admin %>
      <%= link_to 'Edit Theory', [:edit, @theory] %>
    <% else %>
      <form action="/theories/new" method="post">
        <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
        <%= tag(:input, type: "hidden", name: :user_id, value: current_user.id) %>
        <%= tag(:input, type: "hidden", name: :theory_id, value: @theory.id) %>
        <input class="btn btn-light" type="submit" value="Find this Theory">
      </form>
    <% end %>
    <%= link_to 'Back', theories_path, {class: "btn btn-primary btn-light"} %>
  </div>
</div>