<p id="notice"><%= notice %></p>

<div class="center">
  <div class="info">
    <p><strong>Name</strong><br><%= @treasure.name %></p>
    <p><strong>Description</strong><br><%= @treasure.description %></p>

      <% @treasure.theories.each do |t| %>
        <li>Theory Name: <%= t.name %></li><br>
        <li>Theory Description: <%= t.description %></li><br>
        <li>Theory Issues: <%= t.issues %></li><br>
        <li>Theory Success? <%= t.success %></li><br>
        <li>Theory Prove Date: <%= t.prove_date %></li><br>
      <% end %>

      
    <%= link_to 'Back', treasures_path %> | <%= link_to 'Edit', [:edit, @treasure] %> | <%= link_to 'Create Theory', new_treasure_theory_path(@treasure.id) %>
  </div>
</div>