<div class="center">
  <div class="info">
    <p><strong>Name: </strong><%= @treasure.name %></p>
    <p><strong>Description: </strong><%= @treasure.description %></p>
    <p><strong>Total Theories: </strong><%= @treasure.theories.count %></p>

    <% if current_user.admin %>
      <%= link_to 'Edit Treasure', [:edit, @treasure] %>
    <% else %>
      <form action="/theories/new" method="post">
        <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
        <%= tag(:input, type: "hidden", name: :user_id, value: current_user.id) %>
        <%= tag(:input, type: "hidden", name: :treasure_id, value: @treasure.id) %>
        <input class="btn btn-light" type="submit" value="Find this Treasure">
      </form>
    <% end %>
    <%= link_to 'Back', treasures_path, {class: "btn btn-primary btn-light"} %>
  </div>
</div>