<p id="notice"><%= notice %></p>

<div class="center">
  <div class="info">
    <p><strong>Name</strong><br><%= @treasure.name %></p>
    <p><strong>Description</strong><br><%= @treasure.description %></p>

      <% @treasure.theories.each do |t| %>
        Theory Name: <%= t.name %><br>
        Theory Description: <%= t.description %><br>
        Theory Issues: <%= t.issues %><br>
        Theory Success? <%= t.success %><br>
        Theory Prove Date: <%= t.prove_date %><br>
      <% end %><br>

      
    <%= link_to 'Edit', [:edit, @treasure] %> | <%= link_to 'Create Theory', new_treasure_theory_path(@treasure.id) %>
  </div>
</div>